{% extends 'base.html.twig' %}

{% block body %}
    {% apply inline_css %}
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }

            td {
                padding-right: 5px;
            }
        </style>

        <h1>{{ user }}'s Xero Data</h1>
        <div><a href="/logout">log out</a></div>
        <br/>
        <a href="/connect/xero/auth">Attach new organization(s)</a>


        {#    {% if dataMessage %} #}
        {#        <div>{{ dataMessage }}</div> #}
        {#    {% endif %} #}

        {#    {% if refreshTime %} #}
        {#        <div>Refreshed at: {{ refreshTime }}</div> #}
        {#    {% endif %} #}

        {% for org in orgs %}
            {% set viewAccounts = acc %}
            {% set viewVendors = vend %}
            {% set viewCustomers = cust %}
            {% set baseUrl = '/data/xero' %}
            {% set orgUrl = '/data/xero?forOrg='~org.id %}
            {% set settingsString = "&acc=%s&vend=%s&cust=%s" | format(viewAccounts, viewVendors, viewCustomers) %}
            {% set settingsUrl = "%s&acc=%s&vend=%s&cust=%s" | format(orgUrl, viewAccounts, viewVendors, viewCustomers) %}
            {% set refreshUrl = "/data/xero/update?forOrg=%s&acc=%s&vend=%s&cust=%s" | format(org.id, viewAccounts, viewVendors, viewCustomers) %}

            {% if org.id != forOrg %}
                <div>
                    <h2><a href={{ orgUrl }}>+</a> {{ org.tenantName }}</h2>
                </div>
                <br/>
            {% else %}
                <div>
                    <h2><a href={{ baseUrl }}>-</a> {{ org.tenantName }}</h2>
                </div>
                <a href={{ refreshUrl }}>Get/Refresh Data</a>
                <div>
                    <h3>
                        <a href={{ "%s&acc=%s&vend=%s&cust=%s" | format(orgUrl, viewAccounts == false, viewVendors, viewCustomers) }}>{{ viewAccounts ? '-' : '+' }}</a>
                        Accounts: {{ accounts|length }}
                    </h3>
                    {% if viewAccounts and accounts|length > 0 %}

                        <table>
                            <tr>
                                <td><h4>Code</h4></td>
                                <td><h4>Name</h4></td>
                                <td><h4>Description</h4></td>
                            </tr>
                            {% for account in accounts %}
                                <tr>
                                    <td><b>{{ account.code }}</b></td>
                                    <td>{{ account.name }}</td>
                                    <td>{{ account.description }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                </div>
                <div>
                    <h3>
                        <a href={{ "%s&acc=%s&vend=%s&cust=%s" | format(orgUrl, viewAccounts, viewVendors == false, viewCustomers) }}>{{ viewVendors ? '-' : '+' }}</a>
                        Vendors {{ vendors|length }}
                    </h3>
                    {% if viewVendors and vendors|length > 0 %}
                        <table>
                            <tr>
                                <td><h4>Name</h4></td>
                                <td><h4>Number</h4></td>
                                <td><h4>Email</h4></td>
                            </tr>
                            {% for vendor in vendors %}
                                <tr>
                                    <td><b>{{ vendor.name }}:</b></td>
                                    <td>{{ vendor.number }}</td>
                                    <td>{{ vendor.email }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                </div>
                <div>
                    <h3>
                        <a href={{ "%s&acc=%s&vend=%s&cust=%s" | format(orgUrl, viewAccounts, viewVendors, viewCustomers == false) }}>{{ viewCustomers ? '-' : '+' }}</a>
                        Customers{{ customers|length }}
                    </h3>
                    {% if viewCustomers and customers|length > 0 %}
                        <table>
                            <tr>
                                <td><h4>Name</h4></td>
                                <td><h4>Number</h4></td>
                                <td><h4>Email</h4></td>
                            </tr>
                            {% for customer in customers %}
                                <tr>
                                    <td><b>{{ customer.name }}:</b></td>
                                    <td>{{ customer.number }}</td>
                                    <td>{{ customer.email }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                </div>
                <br/>
            {% endif %}
        {% endfor %}
    {% endapply %}
{% endblock %}